<div class="container">
    <div class="animated fadeIn">
        <div class="row">
            <!-- THIS IS THE PAYMENT METHOD FORM -->
            <form [formGroup]="creditCardForm" novalidate (ngSubmit)="saveCreditCard(creditCardForm.value, creditCardForm.valid)">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="card card-inverse card-success">
                            <div class="card-header">
                                <strong>Add Credit Card</strong>
                            </div>
                            <div class="card-block">
                                <div class="row">
                                    <div class="form-group col-sm-12 col-md-6">
                                        <label for="cardName">Name on Card</label>
                                        <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-credit-card"></i>
                      </span>
                                            <input (blur)="cardNameValidate('Card Holder Name *Required', 'Enter the name as it appears on the card')" type="text" class="form-control" placeholder="Enter name on card" id="cardName" formControlName="cardName">
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12 col-md-6">
                                        <label for="cardType">Card Type</label>
                                        <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-credit-card"></i>
                      </span>
                                            <select (blur)="cardTypeValidate('Credit Card Type *Required', 'Select the card type')" class="form-control" id="cardType" formControlName="cardType">
                                                <option value="" disabled selected>Card Type</option>
                                                <option *ngFor="let cardType of cardTypes" [value]="cardType">{{cardType}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-12 col-md-12">
                                        <label for="cardNumber">Credit Card number</label>
                                        <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-credit-card"></i>
                      </span>
                                            <input (blur)="cardNumberValidate('Card Number *Required', 'Enter the card number with no spaces')" type="text" class="form-control" placeholder="Enter your credit card number" id="cardNumber" formControlName="cardNumber">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-12 col-md-4">
                                        <label for="expMonth">Month</label>
                                        <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-credit-card"></i>
                      </span>
                                            <select (blur)="expMonthValidate('Expiration Month *Required', 'Enter the expiration date')" class="form-control" id="expMonth" formControlName="expMonth">
                                                <option value="Expiration Month" disabled selected>Expiration Month</option>
                                                <option *ngFor="let expMonth of expMonths" [value]="expMonth">{{expMonth}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12 col-md-4">
                                        <label for="expYear">Year</label>
                                        <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-credit-card"></i>
                      </span>
                                            <select (blur)="expYearValidate('Card Expiration *Required', 'Enter the expiration date')" class="form-control" id="expYear" formControlName="expYear">
                                                <option value="" disabled selected>Expiration Year</option>
                                                <option *ngFor="let expYear of expYears" [value]="expYear">{{expYear}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12 col-md-4">
                                        <label for="cvc">CVC</label>
                                        <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-credit-card"></i>
                      </span>
                                            <input (blur)="cvcValidate('CVC is Required *Required', 'CVC on the back')" type="text" class="form-control" placeholder="Enter your CVC number" id="cvc" formControlName="cvc">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer tag-primary white">
                                Add New Credit Card -
                                <button type="submit" (click)="toastSuccess('Payment Updated', 'You have updated your payment information successfully')" [disabled]="!creditCardForm.valid" class="btn btn-sm btn-danger btn-oj"><i class="fa fa-dot-circle-o"></i> Add Now!</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <!-- THIS IS THE PAYMENT METHOD LIST -->
            <div [hidden]="paymentSubmitted">
                <form *ngIf="paymentActive" (ngSubmit)="paymentSubmit()" #paymentForm="ngForm">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="card card-inverse card-success">
                                <div class="card-header">
                                    <strong>Card on File</strong>
                                </div>
                                <div class="card-block">
                                    <div class="form-group col-sm-12 col-md-12">
                                        <label for="lastFour">Last 4 of Card Number</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-credit-card"></i>
                    </span>
                                            <input disabled type="text" class="form-control" placeholder="0000 0000 0000 0000" id="lastFour">
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer tag-primary white">
                                    <button type="submit" class="btn btn-sm btn-danger btn-oj"><i class="fa fa-dot-circle-o"></i> Make Default</button>
                                    <button type="submit" class="btn btn-sm btn-danger btn-oj"><i class="fa fa-dot-circle-o"></i> Remove Payment Method</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<ng2-toasty [position]="'top-left'"></ng2-toasty>
