<div class="container">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="card card-inverse card-success">
                    <div class="card-header">
                            Riverwalk Update
                    </div>
                    <div class="card-block">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nib euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation 
                            ea commodo consequat.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="card card-inverse card-success">
                    <div class="card-header">
                                Your Security is our Primary Concern  
                    </div>
                    <div class="card-block">
                              At Riverwalk we take your privacy and security as our highest priority. Please keep your profile information updated and current so we can better protect you. 
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="card card-inverse card-success">
                    <div class="card-header">
                        Basic Information
                    </div>
                    <div class="card-block">
                        <form action="" method="post">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user"></i>
                                    </span>
                                    <input type="text" id="username" name="username" class="form-control" placeholder="{{auth.userProfile.nickname}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-envelope"></i>
                                    </span>
                                    <input type="email" id="email" name="email" class="form-control" placeholder="{{auth.userProfile.email}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-asterisk"></i>
                                    </span>
                                    <input type="password" id="password" name="password" class="form-control" placeholder="New Password">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-asterisk"></i>
                                    </span>
                                    <input type="password" id="password" name="password" class="form-control" placeholder="Confirm Password">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer tag-primary white">
                        <button type="submit" class="btn btn-sm btn-danger btn-oj"><i class="fa fa-dot-circle-o"></i> Update</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="card card-inverse card-success">
                    <div class="card-header">
                        <strong>Billing Address</strong>
                    </div>
                    <div class="card-block">
                        <div class="form-group">
                            <label for="street">Street</label>
                            <input type="text" class="form-control" id="street" placeholder="Enter street name">
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-8">
                                <label for="city">City</label>
                                <input type="text" class="form-control" id="city" placeholder="Enter your city">
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="postal-code">Postal Code</label>
                                <input type="text" class="form-control" id="postal-code" placeholder="Postal Code">
                            </div>
                        </div>
                        <!--/row-->
                        <div class="form-group">
                            <label for="country">Country</label>
                            <input type="text" class="form-control" id="country" placeholder="Country name">
                        </div>
                    </div>
                    <div class="card-footer tag-primary white">
                        <button type="submit" class="btn btn-sm btn-danger btn-oj"><i class="fa fa-dot-circle-o"></i> Update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>